<% layout("layouts/boilerPlate") %>
<body>
    <!-- <form method="GET" action="/listings/new">
            <button>Create New Listing</button>
        </form> -->
    <% for(let listings of allListings){ %>
    <div class="card" style="width: 18rem;">
        <img src="<%= listings.image%>" class="card-img-top"
            alt="listing image">
        <div class="card-body">
            <p class="card-text">
                <%= listings.title %> <br>
                &#8377 <%= listings.price.toLocaleString("en-IN") %> / night
            </p>
        </div>
    </div>
    <% } %>
    <ul>
        <% for(let listings of allListings){ %>
        <li><a href="listings/<%= listings._id %>"><%= listings.title
                %></a></li>
        <% } %>
    </ul>
</body>
